// Remove shadow under navbar
.navbar {
  box-shadow: none;
  background-color: #009FFD;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}

/*
.btn .btn-links {
  background-color: #1C7C54;
  border: none;
}

.btn.btn-primary:hover {
  background-color: #48AF7E !important; }
*/